@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root
{
    --color-0: #FFFFFF;
    --color-1: #000000;
    --color-2: #FFDC6A;
    --color-3: #EEEEEE;
    --color-4: #222222;
    --color-5: #151515;
    --color-6: #1E1E1E;
    --color-7: #D9D9D9;
    --color-8: #555555;
    
    --gradient-0: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);

    --shadow-0: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);

    --font-large: 4rem;
    --font-xxxl: 2rem;
    --font-xxl: 1.5rem;
    --font-xl: 1.25rem;
    --font-m: 1rem;
    --font-sm: 0.85rem;
    --font-s: 0.75rem;

    --transition: 0.1s ease-in-out;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    line-height: var(--font-xl);
}

html
{
    scroll-behavior: smooth;
}

/** Nav Bar **/

.Navbar
{
    position: fixed;

    width: 100%;
    height: 8vh;

    z-index: 100;
}

.DarkMode
{
    width: auto;
    height: 50%;
    margin-left: var(--font-xl);

    cursor: pointer;
}

.DarkMode path:hover 
{
    transition: var(--transition);
    fill: var(--color-2);
}

.Navbar-ul
{
    gap: 30px;
    margin-right: var(--font-xl);
}

.Navbar-li
{
    list-style: none;
    flex-direction: column;
}

.Navbar-li :hover
{
    transition: var(--transition);
    color:var(--color-2);
}

.Navbar-li-a
{
    text-decoration: none;
    text-transform: uppercase;
    
    font-size: var(--font-m);
    font-weight: 600;
    
    color: var(--color-1);
}

.Dot
{
    width: 10px;
    height: 10px;
    border-radius: 100%;

    background-color: var(--color-2);

    display: none;
}

.Selected
{
    font-weight: 800;
}

.Selected + .Dot
{
    display: flex;
}

/** Mobile **/

.Mobile-Section
{
    flex-direction: column;
}

.Mobile-Section-Name
{
    display: none;
    
    text-transform: uppercase;
    
    font-size: var(--font-xl);
    font-weight: 700;
    
    color: var(--color-1);
}

.Mobile-Section-Name + .Dot
{
    display: none;
}

.Mobile-Menu
{
    display: none;

    width: auto;
    height: 50%;
    margin-right: var(--font-xl);

    cursor: pointer;
}

/** Sections **/

.Section
{
    height: 100vh;
    width: 100%;
}

/** Home Section **/

.Home-Content
{
    gap: var(--font-large);

    width: 75%;
    height: 100%;
}

#Personal, #Profesional
{
    width: 30%;

    display: flex;
    align-items: start;
    flex-direction: column;

    gap:21px;
}

#Personal-Dot, #Profesional-Dot
{
    width: 100%;
}

#Personal-Dot img
{
    width: 25%;
    height: auto;
}

#Profesional-Dot img
{
    width: 25%;
    height: auto;
}

.Text-h1
{
    width: 100%;

    text-align: center;
    text-transform: uppercase;

    font-weight: 700;
    font-size: var(--font-xxxl);
}

.Text-p
{
    font-weight: 400;
    font-size: var(--font-m);
}

#Profile
{
    width: 25%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

#Profile-img
{
    width: 100%;
    height: auto;

    box-shadow: var(--shadow-0);
}

#Profile-h1
{
    width: 100%;

    font-size: var(--font-xxxl);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    line-height: var(--font-xxxl);
}

/** Works Section **/

#Works-Panel
{
    position: relative;

    width: 60%;
    height: 75vh;
    background-color: var(--color-3);

    box-shadow: var(--shadow-0);

    padding: 30px;
    padding-bottom: 60px;
}

.Work-Index
{
    position: absolute;

    gap:25px;

    left: calc(50% - 65px);
    bottom: 18px;
}

.Work-Index-Item
{
    cursor: pointer;

    list-style: none;
    width: 10px;
    height: 10px;

    background-color: var(--color-1);
}

.Actual-Index
{
    width: 25px;
    height: 25px;

    border-radius: 100%;

    background-color: var(--color-2);
}

#Works-Item-Content
{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2,1fr);

    justify-content: center;
    align-items: center;

    gap: 30px;
}

.Work-Item
{
    cursor: pointer;

    overflow: hidden;

    display: flex;
    justify-content: start;
    align-items: center;

    flex-direction: column;

    width: 100%;
    height: 90%;

    background-color: var(--color-0);
}

.Work-Item-Preview
{
    height: 60%;

    overflow: hidden;
}

.Work-Item-Preview img
{
    width: 100%;
    height: auto;
}

.Work-Item-Description
{
    height: 40%;
    width: 100%;

    padding: 20px;
}

.Work-Item-Name
{
    font-size: var(--font-m);
    font-weight: 600;
}

.Work-Item-SubInfo
{
    width: 100%;
}

.Work-Item-Data
{
    font-size: var(--font-s);
    font-weight: 500;

    color:var(--color-8);
}

.Work-Item-Software-ul
{
    gap:3px;
}

.Work-Item-Software-li
{
    list-style: none;
}

.Work-Item-Software-li img
{
    width: 20px;
    height: 20px;
}

#Linkeding-Button
{
    cursor: pointer;

    position: absolute;

    width: 50px;
    height: 50px;

    background-color: var(--color-2);
    border-radius: 100%;

    bottom: calc(100% - 25px);
    left: calc(50% - 25px);
}

#Linkeding-Button svg
{
    width: 25px;
    height: auto;

    pointer-events: none;
}

.Work-Extend
{
    position: fixed;

    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(4px);

    z-index: 99;
}

.Work-Extend-Panel
{
    width: 70%;
    height: 80vh;
    
    background-color: var(--color-0);
    box-shadow: var(--shadow-0);
}

.Work-Extend-Gallery
{
    position: relative;

    height: 100%;
    width: 60%;
}

.Work-Index-Extend
{
    bottom: 20px;
    left: 30px;
}

.Work-Extend-Gallery-Image
{
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.Work-Extend-Description
{
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 25px 25px;

    width: 40%;
    height: 100%;
}

.Work-Extend-Title
{
    font-size: var(--font-xxxl);
    font-weight: 800;

    line-height: var(--font-xxxl);
}

.Work-Extend-Information
{
    font-size: var(--font-m);
    font-weight: 400;

    white-space: pre-line;
}

.Work-Extend-Close
{
    cursor: pointer;

    position: absolute;

    top: calc(0% - 25px);
    right: calc(0% - 25px);

    width: 50px;
    height: 50px;

    border-radius: 100%;

    background-color: var(--color-2);
}

.Work-Extend-Close svg
{
    width: 25px;
    height: auto;

    pointer-events: none;
}

/** Contact Section **/

#Form
{
    position: relative;

    width: 60%;
    height: fit-content;
    background-color: var(--color-3);

    box-shadow: var(--shadow-0);

    padding: 50px;
    padding-bottom: 80px;

    flex-direction: column;

    gap:20px;
}

.Form-Input-Content
{
    width: 100%;
}

.Form-Input-Content p
{
    text-transform: uppercase;

    font-size: var(--font-m);
    font-weight: 600;

    margin-bottom: 5px;
}

.Form-Input-Content input
{
    width: 100%;
    height: 40px;

    padding: 10px;

    background: none;

    border: var(--color-1) 2px solid;

    font-size: var(--font-sm);
}

.Form-Input-Content textarea
{
    width: 100%;
    height: 180px;

    resize: none;

    background: none;
    border: var(--color-1) 2px solid;

    padding: 10px;

    font-size: var(--font-sm);
}

#Form-Send
{
    width: 100%;
}

#Form-Send-Button
{
    cursor: pointer;

    border: none;
    background-color: var(--color-1);

    width: 250px;
    height: 50px;

    border-radius: 50px;

    color:var(--color-0);

    font-size: var(--font-m);
    font-weight: 600;
}

#Form-Send-Mail
{
    white-space: pre-line;
    font-size: var(--font-m);
    line-height: var(--font-s);
}


/** General **/

.Center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Center-Between
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Visible
{
    display: flex;
}

.Hidden
{
    display: none;
}

.Text-Colored
{
    color:var(--color-2);

    font-weight: 700;
}

.Text-Bold
{
    font-weight: 700;
}

body
{
    overflow-x: hidden;
}

/** Responsive **/

@media  screen and (max-width:900px)
{
    /** Navbar **/

    .Navbar
    {
        background-color: var(--color-0);
    }

    .Navbar-ul
    {
        display: none;
    }

    .Mobile-Section-Name
    {
        display: block;
    }

    .Mobile-Section-Name + .Dot
    {
        display: flex;
    }

    .Mobile-Menu
    {
        display: block;
    }

    /** Home Section **/

    #Home
    {
        height: fit-content;

        padding-top: 10vh;
    }

    .Home-Content
    {
        width: 100%;
        height: fit-content;

        flex-direction: column;
    }

    #Personal, #Profesional, #Profile
    {
        width: 90%;
        height: fit-content;

        justify-content: start;
        align-items: center;
    }

    /** Work Section **/

    #Works-Panel
    {
        width: 90%;
        height: 75vh;

        padding: 50px 25px;
    }

    #Works-Item-Content
    {
        height: 100%;

        grid-template-columns: repeat(1, 1fr);

        gap: 25px;
    }

    #Works-Item-Content > :nth-child(-n+2)
    {
        display: none;
    }

    /** Work Extend **/

    .Work-Extend-Panel
    {
        width: 90%;
        height: 75vh;

        flex-direction: column;
    }

    .Work-Extend-Gallery
    {
        width: 100%;
        height: 40%;
    }

    .Work-Extend-Description
    {
        width: 100%;
        height: 60%;

        overflow-y: scroll;
    }

    .Work-Extend-Title
    {
        text-align: center;
    }

    .Work-Extend-Close
    {
        right: calc(50% - 25px);
    }

    /** Contact Section **/

    #Form
    {
        width: 90%;

        padding: 25px;
    }

    #Form-Send
    {
        flex-direction: column;
    }

    #Form-Send-Button
    {
        width: 100%;
    }
}

@media  screen and (min-width:1980px)
{
    :root
    {
        --font-large:7rem;
        --font-xxxl:4rem;
        --font-xxl:3.5rem;
        --font-xl:3rem;
        --font-m:2rem;
        --font-sm:1.8rem;
        --font-s:1.75rem;
    }

    /** Contact Section **/

    .Form-Input-Content Input
    {
        height: 80px;

        padding: 20px;
    }

    .Form-Input-Content TextArea
    {
        height: 360px;

        padding: 20px;
    }

    #Form-Send-Button
    {   
        width: 500px;
        height: 100px;
    }
}